{% extends "layout-cine.html" %}
{% block container %}

<div class="container text-center">
    <h2 class="fw-bold">Boletos</h2>
    <form action="/resultado" method="post" class="bg-dark bg-opacity-75 p-4 rounded">
        
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" id="nombre" name="nombre" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="cantidad_personas" class="form-label">Cantidad de compradores:</label>
            <input type="number" id="cantidad_personas" name="cantidad_personas" class="form-control" min="1" required>
        </div>

        <div class="mb-3">
            <label for="cantidad_boletos" class="form-label">Cantidad de boletos:</label>
            <input type="number" id="cantidad_boletos" name="cantidad_boletos" class="form-control" min="1" max="7" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Método de pago:</label>
            <div class="form-check">
                <input type="radio" id="efectivo" name="metodo_pago" value="efectivo" class="form-check-input" required>
                <label for="efectivo" class="form-check-label">Efectivo</label>
            </div>
            <div class="form-check">
                <input type="radio" id="tarjeta" name="metodo_pago" value="tarjeta" class="form-check-input" required>
                <label for="tarjeta" class="form-check-label">Tarjeta Cinépolis</label>
            </div>
        </div>

        <button type="submit" class="btn btn-success w-100">Procesar</button>
        <button type="reset" class="btn btn-danger w-100 mt-2">Salir</button>
    </form>
</div>

{% endblock %}
