{% extends "layout-cine.html" %}

{% block container %}
<h2>Compra de Boletos</h2>
<form action="/resultado" method="post">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required><br>

    <label for="cantidad_personas">Cantidad de compradores:</label>
    <input type="number" id="cantidad_personas" name="cantidad_personas" min="1" required><br>

    <label for="cantidad_boletos">Cantidad de boletos:</label>
    <input type="number" id="cantidad_boletos" name="cantidad_boletos" min="1" max="7" required><br>

    <label>Método de pago:</label><br>
    <input type="radio" id="efectivo" name="metodo_pago" value="efectivo" required>
    <label for="efectivo">Efectivo</label><br>

    <input type="radio" id="tarjeta" name="metodo_pago" value="tarjeta" required>
    <label for="tarjeta">Tarjeta Cinépolis</label><br>

    <button type="submit">Procesar</button>
    <button type="reset">Salir</button>
</form>
{% endblock %}
